<h1>Post Details</h1>
<div *ngIf="post" class="post panel">
	<div>
		<h2>
           {{post.title}}
           <div routerLink="update" class="btn btn-primary pull-right">Update Post</div>
        </h2>
		<p>{{post.body}}</p>
		<p><em>{{post.author}}</em></p>
	</div>
	<table class="table table-bordered table-condensed">
	   <tr class="info">
		 <th>Last Updated</th>
		 <th>Created On</th>
	   </tr>
	   <tr>
		 <td>{{post.lastUpdated | date:'medium'}}</td>
		 <td>{{post.createdOn | date}}</td>
	   </tr>
	</table>	
</div>
<div *ngIf="error" class="alert alert-danger">
    <span class="glyphicon glyphicon-exclamation-sign"></span>
    {{error.error.message ? error.error.message : 'There was an error retrieving posts.'}}
</div>
